server:
  port: 8086

spring:
  application:
    name: booking-service
  datasource:
    url: jdbc:h2:mem:bookingdb;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
    driverClassName: org.h2.Driver
    username: sa
    password:
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
  h2:
    console:
      enabled: true

security:
  jwt:
    secret: d2ad3944549849ca8c13cb6771c27855
    ttl: 1h

booking:
  hotel:
    base-url: http://localhost:8081
    internal-token: "internal-token-123"
    timeout: 2s
    retry:
      max-attempts: 3
      backoff: 200ms

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka

management:
  endpoints:
    web:
      exposure:
        include: health,info
